<div class="form-container">
<h4>{{formType =='add' ? 'Add':'Update'}} Officer</h4>
<form #fm="ngForm" (ngSubmit)="onFormSubmit()" class="officer-form">
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name" [(ngModel)]="formObject.name" required>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Identification Number</mat-label>
      <input matInput placeholder="Identification Number" name="identificationNumber" [(ngModel)]="formObject.identificationNumber" required>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" [(ngModel)]="formObject.password" required>
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button [disabled]="!fm.valid" type="submit" mat-flat-button color="primary">Save</button>
    <button type="button" (click)="onReset(fm)" mat-flat-button color="warn">Reset</button>
    <button [mat-dialog-close] mat-flat-button color="accent">Close</button>
  </div>
</form>
</div>

